//@theme "/home/karl/.config/rofi/themes/dracula.rasi"
//@theme "/home/karl/.config/rofi/themes/dracula.rasi"
//@theme "/home/karl/.config/rofi/themes/dt-dmenu.rasi"
//@theme "/usr/share/rofi/themes/purple.rasi"
//@theme "/usr/share/rofi/themes/purple_custom.rasi"
//@theme "/home/karl/.config/rofi/themes/dt-center.rasi"
//@theme "/usr/share/rofi/themes/purple_custom.rasi"
//@theme "/home/karl/.config/rofi/themes/dt-dmenu.rasi"
@theme "/home/karl/.config/rofi/themes/dt-center.rasi"
